.logo{
    width: 100px !important;
    height: 100px !important;
}

.choosephoto input[type="file"]{
    display: none;
}
.choosephoto2 input[type="file"]{
    display: none;
}
.choosephoto{
    color: black;
    height: 30px;
    width: 100px;
    background-color: #DFB163;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
}
.choosephoto:hover{
    border-radius: 10px;
}

.choosephoto2{
    color: black;
    height: 30px;
    width: 100px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}


.choosephoto1{
    margin-left: 50px;
    width: 300px;
}
.topphoto{
    padding-top: 50px;
}

.sentr1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top1{
    padding-top: 10px;
}
.btn{
    border:1px solid #DFB163;
    background: none;
    padding: 7px 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.inpt{
    color: #DFB163;
}
.inpt:hover{
    color: black;

}
.btn:hover{
    border-radius: 10px;
    background: #DFB163;
}
body
{
  background-color:#f5f5f5;
}
.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
  background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}
.btn_yan{
    margin: 5px;

}